# The port to run the app on. Example: 5173
VITE_PORT=5173
# The base URL for the API, Example: http://localhost:3000
VITE_API_BASE_URL=http://localhost:3000
# The name of the app, Example: Synapse
VITE_APP_NAME="Synapse"
